<ng-container *ngIf="vm$ | async as vm">
	<h2>
		Your Progress ({{ vm.currentQuestionNumber }} of {{ totalQuestions }}) ({{
			(vm.currentQuestionNumber * (100 / totalQuestions)) / 100 | percent
		}})
	</h2>
	<mat-progress-bar mode="determinate" [value]="vm.currentQuestionNumber * (100 / totalQuestions)"></mat-progress-bar>

	<app-answer
		*ngFor="let previousAnswer of vm.previousAnswers"
		[answer]="previousAnswer"
		(editClick)="onEditAnswerClicked(previousAnswer)"
	></app-answer>

	<form
		*ngIf="vm$ | async as vm"
		[formGroup]="form"
		(ngSubmit)="onSubmitted(vm.currentQuestionNumber, vm.allQuestionsAnswered)"
	>
		<mat-form-field appearance="fill" *ngIf="!vm.allQuestionsAnswered">
			<mat-label>Question number {{ vm.currentQuestionNumber }}?</mat-label>
			<input matInput type="text" placeholder="answer here" formControlName="currentQuestion" />
		</mat-form-field>

		<div class="actions">
			<button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
				{{ vm.allQuestionsAnswered ? 'Save' : 'Next' }}
			</button>
		</div>
	</form>
</ng-container>
